<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
        <exm>
            <eds>
                <receiversCollection type="Sitecore.Modules.EmailCampaign.Core.MessageTransfer.ManagerRootsPop3ReceiversCollection, Sitecore.EmailCampaign" set:type="Sitecore.Support.Modules.EmailCampaign.Core.MessageTransfer.ManagerRootsPop3ReceiversCollection, Sitecore.Support.392574"/>
            </eds>
        </exm>
    </sitecore>
</configuration>